<form>
  <mat-card>
    <mat-card-title>Basic Information</mat-card-title>
    <mat-form-field >
      <input type="text" matInput name="name" placeholder="Tips Title" [(ngModel)]="tips.name">
    </mat-form-field>
    <mat-select  placeholder="Tips type" name="type" [(ngModel)]="tips.type">
      <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-card>
  <mat-card>
    <mat-card-title>Ratings</mat-card-title>
    <mat-card-subtitle>
      Ratings
    </mat-card-subtitle>
    <mat-slider [(ngModel)]="tips.rating" thumbLabel tickInterval="1" max="10"></mat-slider>
  </mat-card>
  <mat-card>
    <mat-card-title>Location</mat-card-title>
    <mat-form-field >

      <input type="text" matInput name="place" placeholder="place" [(ngModel)]="tips.place">
    </mat-form-field>
    <mat-form-field >
      <input type="text" matInput name="address" placeholder="address" [(ngModel)]="tips.location.address">
    </mat-form-field>

    <mat-form-field >
      <input type="text" matInput name="city" placeholder="city" [(ngModel)]="tips.location.city">
    </mat-form-field>
  </mat-card>
<mat-card>
  <mat-card-title>Notes</mat-card-title>
  <mat-form-field >

    <textarea type="text" matInput name="notes" placeholder="notes" [(ngModel)]="tips.notes"></textarea>
  </mat-form-field>
</mat-card>

<mat-card>
  <button (click)="save()" mat-raised-button color="accent"> Save</button>
  <button (click)="cancel()" mat-raised-button color="dark" >Cancel</button>

</mat-card>



</form>

